<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="description" content="I'm Roan a Dutch Ui designer. I design clean and minimal interfaces for web and mobile products. I love coffee and baseball." />
        <title>{{site.title}}</title>

         <!-- Twitter Card data -->
        <meta name="twitter:card" value="summary">

        <!-- Open Graph data -->
        <meta property="og:title" content="Roan Hahn" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://www.roanhahn.nl/" />
        <meta property="og:image" content="http://example.com/image.jpg" />
        <meta property="og:description" content="Description Here" /> 

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href="{{assets}}/css/styles.min.css?v=1.1" rel="stylesheet">
        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    
    <body>

        {{> body }}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{assets}}/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{assets}}/js/bootstrap.min.js"></script>
    <script src="{{assets}}/js/functions.js"></script>
    </body>
</html>
